:root {
    --red-accent: #fc466b;
    --purple-accent: #3f5efb;
    --light-gray: rgb(179, 179, 179);
    --gold: #ffcc00;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Inter', 'Helvetica', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

body {
    background: linear-gradient(270deg, var(--red-accent), var(--purple-accent));
    background-size: 400% 400%;

    animation: bg-animation 6s ease infinite;
}

@keyframes bg-animation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

h1, h3 {
    color: var(--purple-accent);
}

hr {
    margin: 3rem 0;
    background-color: black;
    border: 1px solid black;
    border-radius: 5rem;
}

table {
    table-layout: auto;
    width: fit-content;
}

img.medium {
    width: 10rem;
    height: auto;
}

img.small {
    width: 2rem;
    height: auto;
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
}

.align-center {
    align-items: center;
}

.gap-1 {
    gap: 3rem;
}

.page {
    background-color: white;
    margin: 5vh 20vw;
    padding: 3rem;
}

.grid-columns-1-3 {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.link-logo {
    width: 2rem;
    height: 2rem;
}

.link-logo:hover {
    fill: var(--purple-accent);
}

.light-text {
    color: var(--light-gray);
}

.spaced + .spaced {
    margin-top: 1rem;
}

.novice-skill::after {
    content: '★';
    color: var(--gold);
    font-size: 2rem;
    line-height: 1;
}

.intermediate-skill::after {
    content: '★★';
    color: var(--gold);
    font-size: 2rem;
    line-height: 1;
}

.advanced-skill::after {
    content: '★★★';
    color: var(--gold);
    font-size: 2rem;
    line-height: 1;
}

.skill-name {
    font-weight: 600;
    padding-left: 3rem;
}

@media only screen and (max-width: 1024px) and (min-width: 600px) {
    html {
        font-size: 14px;
    }

    .page {
        margin: 5vw 5vw;
    }
}

@media only screen and (max-width: 600px) {
    html {
        font-size: 13px;
    }

    .page {
        margin: 2vh 2vh;
    }

    .grid-columns-1-3 {
        grid-template-columns: 1fr;
    }
}